{% extends "base_generic.html" %}

{% block content %}
    <form action="" method="POST">
        <div class="form-group login-button-container">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            <div class="login-button-other">
                <label for="id_email" class="login-button-other">Email</label>
                {{ form.email }}
            </div>
            <input type="submit" value="Reset password" class="btn btn-primary login-button-login">
        </div>
    </form>
{% endblock %}