{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>
    {% if perms.catalog.can_modify_book %}
        <div class="staff-button-container">
            <a href="{% url 'book-create' %}" class="staff-button">Add</a>
        </div>
    {% endif %}
    {% if book_list %}
        <ul>
            {% for book in book_list %}
                <li>
                    <a href={{ book.get_absolute_url }}>{{ book.title }}</a> ({{ book.author }})
                    {% if perms.catalog.can_modify_book %}
                        <span class="staff-button-container-inline">
                            <a href="{% url 'book-update' book.pk %}" class="staff-button">Update</a>
                            <a href="{% url 'book-delete' book.pk %}" class="staff-button">Delete</a>
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}